html {
   margin: 0;
   height: 100%;
}
body {
   background-color: #161616;
   overflow-x: hidden;
   margin: 0;
   height: 100%;
}
::-webkit-scrollbar {
   width: 0px;  /* Remove scrollbar space */
   background: transparent;  /* Optional: just make scrollbar invisible */
}
.main {
   overflow-y: hidden;
}
.text{
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button {
    background-color: #161616;
    color: white;
    border: none;
    padding: 3vw 10vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: auto;
 }
.button:hover{
    background-color: #303030;
    color: white;
 }
#btnSend{
   margin-left:15px;
   font-size: 5vw;
 }
#btnRcv{
   margin-right: 15px;
   font-size: 5vw;
   float: right;
 }
#btnCancel {
   display: none;
   vertical-align: top;
   background-color: #161616;
   color: white;
   border: none;
   padding: 3vw 10vw;
   text-align: center;
   cursor: pointer;
   margin-top: 0px;
   margin-bottom: 1px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   position: sticky;
   top: 0px;
}
#btnCancel:hover {
   background-color: #303030;
   color: white;
}
#btnClose {
   float: right;
   vertical-align: top;
   margin: 10px;
   position: sticky;
   top: 10px;
}
#btnMin {
   float: right;
   vertical-align: top;
   margin: 10px;
   position: sticky;
   top: 10px;
}
#spinner {
   float: center;
}
.upText {
   padding: 10px;
   padding-bottom: 4px;
   display: block;
   margin-left: 4px;
   width: 270px;
}
.downText {
	padding: 10px;
   padding-top: 4px;
   font-size: small;
   display: block;
   margin-left: 4px;
   color: grey;
   width: 270px;
}
.listImg {
   float: left;
   padding-left: 20px;
   padding-top: 20px;
   padding-right: 20px;
}
.listItem {
   display: inline-block;
   height: 65px;
   width: 300px;
   word-wrap: normal;
   white-space: nowrap;
   overflow: hidden;
}
.listItem:hover {
   background-color:#303030;
}
@keyframes text-scrolling {
   0% {
     transform: translateX(5%)
   }
   50% {
      transform: translateX(-50%)
   }
   100% {
     transform: translateX(5%)
   }
 }
#qr {
   border: 5px solid rgb(65, 64, 64);
   display: none;
   margin-left: auto;
   margin-right: auto;
}
.helpText {
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: small;
   text-align: center;
   margin-top: 6px;
   margin-left: 6px  !important;
   margin-right: 6px !important;
   bottom: 10px;
   position: fixed;
   display: none;
}
.waiting {
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#spinner {
   width: 36px;
   height: 36px;
   margin-right: 90px;
   margin-left: 125px;
   margin-top: 10px;
}
#addFile {
   width: 120px;
   height: 120px;
   margin-left: auto;
   margin-right: auto;
}
#dragText {
   color: #808080;
   font-size: 5vw;
   margin-top: 25px;
   margin-bottom: 4px;
}
#fileSelectText {
   color: rgb(0, 153, 255);
   margin-top: 4px;
   font-size: 5vw;
   cursor: pointer;
}
#fileSend {
   background-color: #007AFF;
   width: 290px;
   color: white;
   border-radius: 10px;
   padding: 4vw 10vw;
   font-size: 16px;
   margin-left: auto;
   margin-right:auto;
   margin-bottom: 4px;
   margin-top: 4px;
   display: none;
   float: center;
   position: sticky;
   bottom: 10px;
   border: none;
}
#smallSend {
   background-color: #007AFF;
   width: 80px;
   height: 35px;
   color: white;
   border-radius: 15px;
   font-size: 16px;
   margin-left: auto;
   margin-right:auto;
   margin-bottom: 4px;
   margin-top: 4px;
   float: right;
   position: sticky;
   bottom: 10px;
   border: none;
}
#fileSend:hover {
   background-color: #156ecf;
   color: white;
 }
#smallSend:hover {
   background-color: #156ecf;
   color: white;
}
#fileSendDiv {
    position: fixed;
    left: 5px;
    right: 5px;
    bottom: 1px;
 }

#removeText {
   float:left; 
   color: #808080;
   margin-left:15px; 
   margin-top:10px;
   font-size: small;
   display: none;
}
.inProgress {
   margin-top: 18px;
   display: block;
   background-color: #161616;
   height: 65px;
}
.inProgress:hover {
  background-color: #303030
}
.sendProgress {
   margin-top: 15px !important;
   padding: 15px;
}
.progressBar {
  background-color: #007AFF;
   height: 3px;
   width: 1%;
   display: block;
}
.progressText {
  float: right;
}
.barBg {
  background-color: #303030;
   height: 3px;
   width: 80%;
   display: inline-block;
   margin-top: 25px;
   margin-bottom: 10px;
}
.percentage {
   float: right;
   margin-top: 15px;
   margin-bottom: 10px;
}
#ip {
   margin-left: auto;
   margin-right: auto;
   display: block;
   font-size: xx-large;
   margin-top: 50px;
   text-align: center;
}
#frontIp {
   color: #808080;
   font-size: x-large;
}
#hotspot {
   font-size: small;
   text-align: center;
   display: block;
   text-decoration: underline;
   color: #156ecf;
   cursor: pointer;
}
#hotspotText {
   display: none;
}
.caption {
   display: block;
}
.details {
   display: block;
   font-size: small;
   color: grey;
}
.option {
   float: right;
   padding: 5px;
   border: none;
   border-radius: 4px;
   background-color: #303030;
   color: white;
   cursor: pointer;
}
.setting {
   padding: 10px;
   display: block;
}
#save {
   background-color: #303030;
   width: 290px;
   color: white;
   border-radius: 1px;
   padding: 4vw 10vw;
   font-size: 16px;
   margin-left: auto;
   margin-right:auto;
   margin-bottom: 4px;
   margin-top: 10px;
   display: block;
   float: center;
   position: sticky;
   bottom: 10px;
   border: none;
   cursor: pointer;
}
#save:hover {
   background-color: #404040;
}
.form {
   margin: 10px;
}
#currentSave {
   font-size: small;
   color: darkgrey;
   cursor: pointer;
   text-decoration: underline;
   white-space: nowrap;
}
#currentSave:hover {
   background-color: #303030;
}
.field {
   display: inline-block;
   width: -webkit-fill-available;
   background-color: #303030;
   border: none;
   border-radius: 4px;
   height: 25px;
   color: darkgrey;
   padding-left: 4px;
}
#header {
   background-color: transparent;
   position: fixed;
   display: block;
   top: 0px;
   white-space: nowrap;
   width: 100%;
}